body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
a{
  text-decoration: none;
  color: #EEEEEE;
}
a:hover{
  text-decoration: underline;
}
img {
  width: 70%;
}
footer{
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  right: 0;
}

footer p{
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
  font-size: 1.3rem;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 250px;
}
.button {
  background: #4ECCA3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: none;
  border-radius: 10px;
  line-height: 36px;
  color: #d6d6d6;
  font-family: 'Lobster', cursive;
  width: 204px;
  font-size: 27px;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  text-align: center;
}
.button:active {
  background: #4bb994;
}
@media screen and (max-width: 660px) {
  .container {
    width: 100%;
  }
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 1.5rem;
  }
  .dice {
    padding-top: 35%;
    width: 40%;
  }
  footer p{
    font-size: 1rem;
  }
}